@page {
    size: auto;
    margin: 0;
}

@media print {
    @page {
        size: auto;
        margin: 0;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
}
body{
    margin-top:2cm;
    margin-left: 1.5cm;
}

string {
    font-weight: bolder;
}

#sobre{
    width: 14.5cm;
    height: 6cm;
    position: relative;
}

.parte{
    position: absolute;
}

.serial{
    top: 0.7cm;
    left: 10cm;
}

.direccion_entrega_sede{
    top: 1.8cm;
    left: 10cm;
}

.medico{
    top: 1.9cm;
}

.etiqueta{
    top:2.7cm;
}

.nombre_completo_cliente{
    top:3.3cm;
}

.correo{
    top: 3.7cm;
}

.correo2{
    top: 4.2cm;
}
